body {
  margin: 0;
}

.screen {
  display: flex;
  flex-direction: column;
}

canvas {
  image-rendering: pixelated;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12em;
}

.buttons-dpads-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}

.buttons {
  display: flex;
  gap: 2em;
}

.button {
  height: 11em;
  width: 11em;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-select {
    width: 11em;
}
